.lake/
**/.lake/

# Verso / Pages output
_site/
**/_site/
ReasBookWeb/_site/
ReasBookWeb/-verso-*/

# Generated website sources
ReasBookWeb/Book/

# Lake build artifacts and executables
**/.lake/build/
**/*.ilean
**/*.olean
**/*.c
**/*.bc
**/*.o

# OS / editor junk
.DS_Store
**/.DS_Store
.DS_store
**/.DS_store
Thumbs.db
**/Thumbs.db
Desktop.ini
**/Desktop.ini
